.svg {
    height: 24px;
    width: 24px;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    background: #080B0D;
    margin-top: 70px;
    color: white;
}

.top_seite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(35,35,35);
    color: white;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 8px;
    font-family: "nunito", sans-serif;
}

.element-bild,
.element-text,
.element-table,
.element {
    color: white;
    position: relative;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: auto;
    overflow: hidden;
    background: rgb(35,35,35);
}

.element-bild {
    width: 45%;
}

.element-text {
    width: 60%;
}

.element-table {
    width: 100%;
}

.content_seite {
    display: flex;
    flex-wrap: wrap;
    font-family: "nunito", sans-serif;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

#img_titel {
    height: 100%;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.element-table-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .element-table-mobile {
        color: white;
        position: relative;
        padding: 16px;
        margin: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        width: 100%;
        height: auto;
        overflow: hidden;
        background: rgb(35,35,35);
        display: block;
    }
    .element-bild {
        width: 100%;
    }

    .element-text {
        width: 100%;
    }

    .element-table {
        display: none;
    }
}

.ueberschrift_tabelle{
    color: #ef801b;
}