body {
    background: #080B0D;
    margin-top: 70px;
    color: white;
}

.module-container {
    display: flex;
    flex-wrap: wrap;
    font-family: "nunito", sans-serif;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.module-card {
    position: relative;
    border: 1px solid #000;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(35, 35, 35);
    color: #fff;
    transition: transform 0.6s ease, width 0.5s ease, height 0.5s ease;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.module-card:hover {
    box-shadow: 0px 4px 15px rgba(35, 35, 35, 0.9);
    transform: scale(1.02);
}

.module-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.module-name {
    font-size: 1.5em;
    margin-top: 8px;
    margin-left: 8px;
}

.container-attribut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.module-attribut-border-four {
    width: 22%;
    border: 1px solid #D18239;
    padding: 16px;
    margin: 3px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #D18239;
}

.module-attribut-border-three {
    width: 30%;
    border: 1px solid #D18239;
    padding: 16px;
    margin: 3px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #D18239;
}



p {
    font-size: 14px;
}

@media (max-width: 1029px) {
    .module-card {
        width: 45%; /* Für kleinere Bildschirme 2 Karten nebeneinander */
    }

    .module-attribut-border-four {
        width: 47%;
    }

    .plus-icon {
        opacity: 1;
    }

    .like-icon {
        opacity: 1;
    }
}

@media (max-width: 709px) {
    .module-card {
        width: 100%; /* Auf sehr kleinen Bildschirmen 1 Karte pro Zeile */
    }

    .module-attribut-border-four {
        width: 45%; /* Attribute untereinander auf kleineren Bildschirmen */
    }

    .plus-icon {
        opacity: 1;
    }

    .like-icon {
        opacity: 1;
    }
}


#resetButton {
    background: #D18239;
    border: #0b0b0b;
    border-radius: 4px;
}

.filter-container {
    background: rgb(35, 35, 35);
    padding: 16px;
    color: white;
    font-family: "nunito", sans-serif;
    display: flex;
    margin-left: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 998;
    margin-right: 16px;
}


.filter-container select,
.filter-container button {
    appearance: none;
    background-color: #D18239; /* Match attribute background */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px; /* Space between elements */
    font-family: "nunito", sans-serif;
}


#resetButton {
    cursor: pointer;
}

.plus-icon {
    background: rgba(81, 81, 81, 0.85) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 50px;
    transition: background 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.plus-icon-img {
    height: 15%;
    width: auto;
}


.like-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7); /* leicht transparentes Weiß */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s;
    opacity: 0; /* versteckt das Icon zunächst */
    pointer-events: none; /* deaktiviert Mausinteraktionen, solange es unsichtbar ist */
}

.module-card:hover .plus-icon,
.module-card:hover .like-icon {
    opacity: 1; /* zeigt das Icon beim Hover an */
    pointer-events: auto; /* aktiviert Mausinteraktionen */
}

.like-icon img.heart-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.like-icon.active img.heart-icon {
    transform: scale(1);
}

.h2 {
    font-family: "nunito", sans-serif;

}


.module_search {
    appearance: none;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background: #D18239;
    color: white;
    margin-right: 8px;
    margin-top: 1px;
}

::placeholder {
    color: white;
}

h2 {
    font-family: "nunito", sans-serif;
    margin-left: 19px;
}

#scrollToTopBtn {
    display: none; /* Standardmäßig versteckt */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Über allen anderen Elementen */
    background-color: #D18239; /* Gleiche Farbe wie andere Buttons */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #b36a2d; /* Leicht dunklerer Farbton beim Hover */
}